html {
  scroll-behavior: smooth;
}
.mynav {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px);
}
.about .gallery {
  background-color: #ccc;
}
.head {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
}
body {
  font-family: "Work Sans", sans-serif;
  
}
#hero .heading-sm {
  font-size: 50px;
  font-weight: 600;
  color: #272829;
}
#hero .heading-lg {
  font-size: 30px;
  font-weight: 800;

  letter-spacing: 1px;
}
#hero .heading_md {
  font-size: 16px;
  font-weight: 500;
  color: #272829;
}
#hero img {
  width: 500px;
  height: 300px;
}
/* .head {
  
  background-image: url("/asset/Wave.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */
.head {
  background-color: #337ccf;
}
.btn {
  width: 250px;
}

.text {
  min-width: 80vw;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 200px;
  padding: 5px;
}

.nav-item a:hover {
  background-color: #337ccf;
  border-radius: 5px;
  border-style: 3px;
  color: #f6f1f1 !important;
  transition: all 0.3s ease;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: #337ccf;
  background-size: 100% 100%;
  text-align: justify;
}

.mid {
  height: 100vh;
  width: 100%;
  margin-top: 10%;
}

.i {
  color: black;
  list-style-type: none;
}

.icons {
  list-style-type: none;
}

.sos {
  display: flex;
  flex-direction: row;
}

.foto {
  width: 100%;
  height: 200px;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.col {
  padding: 5px;
}

.umi {
  width: 150px;
}

.d-block {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

#logo {
  height: 300px;
  width: 300px;
}
.teks {
  text-align: justify;
}

.icons #foto {
  width: 90px;
  height: 90px;
}
